# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Development-only sample scores (copyrighted music; never commit)
DevSeed/
